:root {
  /* SPACERS */
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  /* COLORS */
  --clr-primary: #2ba6ee;
  --clr-accent-1: #ec2f2f;
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #bbb;
  --clr-neutral-300: #444;
  --clr-neutral-400: #333;
  --clr-neutral-500: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-300);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-neutral-200);
}

ul {
  list-style: none;
}

input {
  color: inherit;
  max-width: 100%;
}

label {
  display: block;
  margin-block-end: var(--size-200);
}

input[type="text"],
button {
  font-size: 1.2rem;
  border-radius: var(--size-200);
  padding-block: var(--size-200);
  padding-inline: 0.8rem;
  transition: 200ms;
}

input[type="text"] {
  border: 0.125rem solid var(--clr-neutral-200);
  outline: none;
}
input[type="text"]:focus {
  border-color: var(--clr-primary);
}

/* Utilities */
.container {
  margin-inline: auto;
  width: min(100% - 2rem, 35rem);
}

.btn {
  border-color: transparent;
  display: inline-block;
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus-visible {
  outline: 0.125rem solid var(--clr-primary);
}

.btn-submit {
  background-color: var(--clr-neutral-500);
}

.btn-delete {
  background-color: var(--clr-accent-1);
}

/* Main Content */
.main {
  margin-block-start: var(--size-900);
  padding-block: var(--size-400);
  position: relative;
}

.main-title,
.form,
.main-list {
  margin-block-end: var(--size-500);
}

.main-title {
  color: var(--clr-primary);
  font-size: var(--size-600);
}

.input-group,
.todo-item {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: var(--size-200);
}

.info-text {
  color: var(--clr-accent-1);
  font-size: var(--size-400);
  font-weight: bold;
}

.todo-list {
  width: min(100%, 40rem);
}

.todo-item {
  background-color: var(--clr-neutral-100);
  border: 0.0625rem solid var(--clr-neutral-200);
  justify-content: space-between;
  overflow-x: hidden;
  padding: var(--size-200) var(--size-400);
}

.todo-item:not(:last-child) {
  border-bottom: none;
}

.todo-item:first-child {
  border-radius: var(--size-200) var(--size-200) 0 0;
}

.todo-item:last-child {
  border-radius: 0 0 var(--size-200) var(--size-200);
}

.todo-item:only-child {
  border-radius: var(--size-200);
}
